
<a href="/users/{{currentUser._id}}">Back to Profile</a>

<h3>Create a New Tweet</h3>
<form method="post">
<textarea name="content" id="" cols="30" rows="10" placeholder="Express yo self.."></textarea>
<button type="submit">Post New Tweet</button>
</form>